<h1>Edit <%= @game.title %></h1>

<form action="/games/<%= @game.id %>" method="post">
	<input type="hidden" name="_method" value="patch">

  <div>
    <label for="title">Enter game title:</label>
    <input type="text" name="title" id="title" value="<%= @game.title %>" required>
  </div>
	<div>
    <label for="description">Enter game description:</label>
    <textarea rows="4" cols="50" name="description" id="description" required><%= @game.description %></textarea>
  </div>
  <div>
    <label for="rating">Enter your rating: </label>
    <input type="number" name="rating" id="rating" min="0" max="5" value="<%= @game.rating %>" required>
  </div>
	<div>
    <label for="image_url">Enter game image url:</label>
    <input type="text" name="image_url" id="image_url" value="<%= @game.image_url %>" required>
  </div>
  <div>
    <input type="submit" value="Edit game!">
  </div>
</form>
